@model IEnumerable<OvejaNegra.Data.Entities.Producto>

@{
    ViewData["Title"] = "Productos";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Papa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioLocal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDelivery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Papa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
