@model Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Personal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Dias
        </dt>
        <dd class="col-sm-10">
            @Model.Sueldos.Count()
        </dd>
        <dt class="col-sm-2">
            Horas
        </dt>
        <dd class="col-sm-10">
            @Model.Sueldos.Sum(p => p.HoraT)
        </dd>
        <dt class="col-sm-2">
            Total
        </dt>
        <dd class="col-sm-10">
            $@Model.Sueldos.Sum(p => p.Total)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddSueldo" asp-route-id="@Model.Id" class="btn btn-primary">Agregar Sueldo</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a> |
    <a asp-action="PagarSueldo" asp-route-id="@Model.Id" class="btn btn-danger">Pagar Sueldo</a> |

</div>

@if (Model.Sueldos.Count == 0)
{
    <h4>Sin sueldo pendiente</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fecha
                </th>

                <th>
                    Entrada
                </th>
                <th>
                    Salids
                </th>
                <th>
                    Hs
                </th>
                <th>
                    Sueldo
                </th>
                <th>
                    Bono
                </th>
                <th>
                    Total
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Sueldos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoraT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Jornal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a asp-action="SueldoEdit" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


}

