@model IEnumerable<OvejaNegra.Data.Entities.Cierre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CajaAyer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CajaHoy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ventas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CajaAyer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CajaHoy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ventas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Compras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
