@model IEnumerable<Pedido>

@{
    ViewData["Title"] = "Pedidos";
}
<div>
    <a asp-action="Index" class="btn btn-secondary">Ver Activos</a>
</div>

<h1>Pedidos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mesa)
            </th>

            <th>
                Pago
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mesa)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Pago)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Total)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Ver</a> |
                <a asp-action="Edit" asp-route-id="@item.Id" class="bi bi-pencil-fill text-secondary"></a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="bi bi-trash-fill text-danger"></a>
            </td>
        </tr>
}

    </tbody>
</table>
